body{
  background-color:#FFFAFA;
}

.mainHead{
  text-align:center;
  background-color: #87CEFA;
  color:white;
  padding:6px;
}

.menuBar{
  float:left;
  width: 11%;
  margin: auto;
  margin-top: 10px;
  line-height: 1.6em;
  border-width: thin;
  box-sizing: border-box;
}

.mainText{
  float: right;
  width: 75%;
  font-size: 16px;
  line-height: 1.6em;
  margin-top: 10px;
  box-sizing: border-box;
}
.center {
  margin-left: 280px;
  margin-right: 100px;

}

h2{
  color: green;
}

span b { color: red; }
